[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
mypy = "*"
isort = "*"
autoflake = "*"
pytest = "*"

[packages]
requests = "*"

[requires]
python_version = "3.8"
